@model IEnumerable<TripProject.Models.DbModels.Certificate>

@await Html.PartialAsync("ButtonsForListsPartial")


<section id="two" class="wrapper style3 fade-up">
    <div class="inner">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Beginning)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ending)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkerId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CityId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beginning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ending)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkerId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityId)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Certificate", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", "Certificate", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>